In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn
np.random.seed(101)

In [6]:
df= pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [9]:
df['W'] # prodices series

A    0.386030
B    0.681209
C   -1.005187
D   -1.382920
E    0.992573
Name: W, dtype: float64

In [16]:
df['new'] = df['W']+df['Z']
df

          W         X         Y         Z       new
A  0.386030  2.084019 -0.376519  0.230336  0.616367
B  0.681209  1.035125 -0.031160  1.939932  2.621142
C -1.005187 -0.741790  0.187125 -0.732845 -1.738032
D -1.382920  1.482495  0.961458 -2.141212 -3.524132
E  0.992573  1.192241 -1.046780  1.292765  2.285338

In [19]:
df.drop(axis=1, columns=['new'], inplace=True) # axis = 1 specifies the column, axis = 0 is refering to index
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [23]:
df.loc['A'] # row A

W    0.386030
X    2.084019
Y   -0.376519
Z    0.230336
Name: A, dtype: float64

In [25]:
df.iloc[2] # row C

W   -1.005187
X   -0.741790
Y    0.187125
Z   -0.732845
Name: C, dtype: float64

In [27]:
df.loc['B','Y']

-0.031160481493099617

In [32]:
df.loc['A':'B',['W','Y']]

          W         Y
A  0.386030 -0.376519
B  0.681209 -0.031160